:root {
    /* --main-background: #1d1118; */
    --main-background: #f7354d;
    --card-text-color: #4c2f41;
    --border-color: #331e2a;
    --text-tertiary: #f7354d;
    --text-secondary: #31d3c8;
    --choice-background: #563b4a;
    --card-width: 2.5in;
    --card-height: 3.5in;
    --card-phone-width: 75vw;
    --card-phone-height: calc((14/9)*var(--card-phone-width));
    --choice-radius: 30px;
    --choice-height: 30px;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

body:hover {
    cursor: default;
}

#area-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: calc(var(--card-width) + 2 * var(--choice-height));
    display: grid;
    grid-template-columns: var(--choice-height) var(--card-width) var(--choice-height);
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice>div {
    position: relative;
    font-weight: bold;
    background-color: var(--choice-background);
    flex-basis: 120px;
    flex-shrink: 0;
    padding: 7px;
    border-top-left-radius: var(--choice-radius);
    border-top-right-radius: var(--choice-radius);
    border-left: solid var(--border-color) 5px;
    border-right: solid var(--border-color) 5px;
    border-top: solid var(--border-color) 5px;
    display: flex;
    justify-content: center;
}

.choice>div:hover {
    filter: drop-shadow(0px 0px 5px white);
}

.bible>div {
    transform: rotate(270deg);
    color: var(--text-secondary);
}

.blasphemy>div {
    color: var(--text-tertiary);
    transform: rotate(90deg);
}

.card {
    height: var(--card-height);
    border: solid var(--border-color) 5px;
    border-radius: 8px;
    color: var(--card-text-color);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media only screen and (max-width: 576px) {
    .card-container {
        width: calc(var(--card-phone-width) + 2 * var(--choice-height));
        display: grid;
        grid-template-columns: var(--choice-height) var(--card-phone-width) var(--choice-height);
    }

    .card {
        height: var(--card-phone-height);
        border: solid var(--border-color) 5px;
        border-radius: 8px;
        color: var(--card-text-color);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}