:root {
    /* --main-background: #1d1118; */
    --main-background:#f7354d;
    --nav-bar-color: #4c2f41;
    --current-nav: #563b4a;
    --border-color: #331e2a;
    ;
    --text-color: white;
    --text-highlight: #f7354d;
    --text-secondary: #31d3c8;
    --nav-marg-bottom: 8px;
    --card-width: 216px;
    --card-height: 336px;
    --card-radius: 30px;
    --choice-height: 30px;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

body:hover {
    cursor: default;
}

#area-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: calc(var(--card-width) + 2 * var(--choice-height));
    display: grid;
    grid-template-columns: var(--choice-height) var(--card-width) var(--choice-height);
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice>div {
    position: relative;
    font-weight: bold;
    background-color: var(--current-nav);
    flex-basis: 120px;
    flex-shrink: 0;
    padding: 7px;
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
    border-left: solid var(--border-color) 5px;
    border-right: solid var(--border-color) 5px;
    border-top: solid var(--border-color) 5px;
    display: flex;
    justify-content: center;
}

.choice>div:hover {
    filter: drop-shadow(0px 0px 5px white);
}

.bible>div {
    transform: rotate(270deg);
    color: var(--text-secondary);
}

.blasphemy>div {
    color: var(--text-highlight);
    transform: rotate(90deg);
}

.card {
    /* width: var(--card-width); */
    height: var(--card-height);
    border: solid var(--border-color) 5px;
    border-radius: 8px;
    color: var(--nav-bar-color);
    /* background: rgb(76, 47, 65); */
    /* background: linear-gradient(135deg, rgba(76, 47, 65, 1) 0%, rgb(121, 83, 104) 100%); */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* .top-half {
    display: flex;
    background-color: var(--nav-bar-color);
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: medium;
}

.bottom-half {
    background-color: var(--current-nav);
    border-bottom-left-radius: var(--card-radius);
    border-bottom-right-radius: var(--card-radius);
} */